<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <aggregationProcessing>
      <processingPools>
        <contact set:type="Sitecore.Support.Analytics.Data.MongoDb.ProcessingPool.MongoDbProcessingPool, Sitecore.Support.121561">
          <Debug>true</Debug>
        </contact>
      </processingPools>
    </aggregationProcessing>
  </sitecore>
</configuration>